@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.banner-img {
  background-image: url("../img/banner-img1.jpg");
  background-size: cover;
}

.title {
  color: #f5f5f5;
}

div h1 {
  font-family: "Montserrat", sans-serif;
}

.item {
  list-style: none;
  width: 500px;
}

.item li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  font-size: 15px;
  margin-left: 50px;
}
/* ul li span {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
} */

.wrapper {
  display: flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #ffde00;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  border-left: 2px solid #ffde00;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.team {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-content {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, auto)); */
  grid-template-columns: 400px 400px 400px;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.team-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}
.center h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}
.box {
  padding: 16px;
  background: #ffde00;
  border-radius: 15px;
  transition: all 0.38s ease;
}
.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.icons i {
  display: inline-block;
  color: #fff;
  font-size: 30px;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons i:hover {
  transform: scale(1.2);
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 1240px) {
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }
  .center h1 {
    font-size: 3.2rem;
  }
  .team-content {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 90px 2%;
    /* align-items: center;
    text-align: center;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 200px 200px 200px; */
    /* changed */
  }
}

.color {
  background: rgb(227, 210, 210);
  background: linear-gradient(77deg, rgba(227, 210, 210, 1) 4%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 60%);
}

footer {
  background-color: #232324;
  width: 100%;
  height: auto;
  font-family: "monserrat";
  padding-top: 20px;
  color: #f5f5f5;
  font-size: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 10px;
  line-height: 1rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
}
#camera,
#camera--view,
#camera--sensor,
#camera--output {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#camera--view,
#camera--sensor,
#camera--output {
  transform: scaleX(-1);
  filter: FlipH;
}
#camera--trigger {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 30px;
  left: calc(50% - 100px);
}
.taken {
  height: 100px !important;
  width: 100px !important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

.invisible {
  display: none;
}

.logs {
  color: #808080;
}

.notification-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #1ABC9C;
  text-align: center;
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.notification-top-bar p {
  padding: 0;
  margin: 0;
}
.notification-top-bar p a {
  padding: 5px 10px;
  border-radius: 3px;
  background: #FFF;
  color: #1ABC9C;
  font-weight: bold;
  text-decoration: none;
}